<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>データベースをつくろう</title>
  <link href="/layout.css" rel="stylesheet">
</head>

<body>
<div class="wrapper">
  <div class="contents">
    <div class="illust">
      <img src="illust.svg" alt="探検家">
    </div>
    <div class="try">
      動物を分類別に検索してみましょう。
    </div>
    <form action="/" method="GET" class="form">
      <div class="animal_select">
        <select required name="family">
          <option selected><%= params[:family] %></option>
          <% @families.each do |family| %>
            <option value="<%= family %>"><%= family %></option>
          <% end %>
        </select>
      </div>
      <input type="submit" value="検索する">
    </form>
    <div class="result-list">
      <% @datas.each do |data_k, data_v| %>
        <table>
          <thead>
            <th><%= data_k %></th>
          </thead>
          <tbody>
            <% data_v.each do |kind_k, kind_v|%>
              <tr>
                <th><%= kind_k %></th>
              </tr>
              <% kind_v&.each do |animal| %>
                <tr>
                  <td><%= animal %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
</body>

</html>

