<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>データベースをつくろう</title>
  </head>
  <body>
    <h3>種類別に動物が取り出せるようにしましょう。</h3>
    <p>検索のできるデーターを表示します。</p>

    <img src="/robot.png" alt="ロボット画像">

    <p>動物の分類を選んで下さい。</p>

    <form action="/" method="GET">
      <label>動物の種類</label>
      <select name="family">
        <option selected><%= params[:family] %></option>
        <% @families.each do |family| %>
          <option value="<%= family %>"><%= family %></option>
        <% end %>
      </select>
      <input type="submit" value="選ぶ">
    </form>

    <ul>
      <% @datas.each do |data_k, data_v| %>
        <li>
          <%= data_k %>
          <ul>
            <% data_v.each do |kind_k, kind_v|%>
              <li>
                <%= kind_k %>
                <ul>
                  <% kind_v&.each do |animal| %>
                    <li><%= animal %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </body>
</html>

